<nav class="site-nav" aria-label="Site">
  <div class="page-container">
    <div class="nav-left">
      <a class="nav-name" href="/">William Mann</a>
    </div>
  
    <div class="nav-right">
      <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="/">Research</a>
      <a class="nav-link {% if page.url == '/teaching/' %}active{% endif %}" href="/teaching/">Teaching</a>
      <a class="nav-link {% if page.url == '/coursechat/' %}active{% endif %}" href="/coursechat/">CourseChat</a>
    </div>
  </div>
</nav>


